.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

.header .logo{
  width: 40%;
}


.header .title-group i{
  padding-right: 5px ;
}