.sidenav{
  background-color: #c2185b;
  display: flex;
  min-width: 15vw;

}

.sidenav a{
  color: #fff;
}

.sidenav i{
  padding-right: 10px;
}

.content {
  background-color: #eee;
  color: #333;
  padding: 16px;
  min-width: 85vw;
  max-height: 77vh;
}