<mat-card>

  <mat-card-title>Deletar Produto</mat-card-title>

  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" [value]="product.name" name="name" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Preço (R$)" [value]="product.price" name="price" disabled>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="deleteProduct()" color="primary">
    Deletar
  </button>

  <button mat-raised-button (click)="cancel()" color="accent">
    Cancelar
  </button>
</mat-card>

<img src="https://i.pinimg.com/originals/28/a1/8e/28a18e4aaa9a62555cd8ffe4cf194bc9.gif" alt="">